.postmodal {
  position: absolute;

  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
}

.postmodal__post {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 700px;
  max-height: 550px;

  padding: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.postmodal__post__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.postmodal__post__header__heading {
  margin: 0;
  font-style: italic;
  color: #d3d3d3;
  cursor: default;
}

.modal--icon {
  outline: none;
  border: none;

  background: none;

  padding: 0;

  cursor: pointer;
}

.postmodal__post__body {
  width: 100%;
  margin: 25px 0;
}

.postmodal__post__body__content {
  word-break: break-all;
}

.postmodal__post__footer {
  width: 100%;
}

.postmodal__post__footer__comments__heading {
  margin: 0;
  margin-bottom: 15px;
}
.postmodal__post__footer__comments__list {
  height: 130px;
  overflow-y: scroll;
}

.post--comment {
  margin: 0;
  border-bottom: 1px solid #d3d3d3;
  margin: 15px 0;
  word-break: break-all;
}

.postmodal__post__footer__form {
  margin-top: 45px;
}

.postmodal__post__footer__form__elt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postmodal__post__footer__form__elt__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postmodal__post__footer__form__elt__input > input {
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  background: #f4f4f4;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px;
}

.postmodal__post__footer__form__elt__input > input:focus {
  outline: 1px solid #c1c1c1;
}

.postmodal__post__footer__form__elt__input > p {
  margin: 20px;
}

.postmodal__post__footer__form__elt > button {
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  background: #efefef;
  transition: background 0.2s ease;
}

.postmodal__post__footer__form__elt > button:hover {
  background: #d9d9d9;
}
