.post {
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
  background: #fff;

  width: 100%;
  max-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 5px;

  cursor: pointer;

  transition: background 0.2s ease;
}

.post:hover {
  background: #d7d7d7;
}

.post__header,
.post__body,
.post__footer {
  width: 100%;
}

.post__header__heading {
  margin: 0;
}

.post__body {
  margin: 10px 0;
}

.post__body__content {
  word-break: break-all;
  margin: 0;
}

.post--icon {
  outline: none;
  border: none;

  background: none;

  padding: 0;

  cursor: pointer;
}

.post--icon > svg {
  transition: all 0.2s ease;
}

.post--icon > svg:hover {
  fill: rgb(239, 0, 0);
  transform: scale(1.1);
}
